body .ui.container.c-container {
	margin: 0 !important;
	padding: 20px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	background-color:#fff;
}

.title {
	color: #2A2A2A;
}

.list {
	margin-top: 20px;
}